    /* relative positioing - 
    element moves in relative to the parent element */
.box-parent{
    background: #eaeaed

}

.box{
    background: #046111;
    height: 80px;
    width: 80px;
    position: relative;
}
.box-1{
    top:10px;
}
.box-2{
    left:50px;
}

.box-3{
    bottom: -10px;
    right: 20px;
}